//fonts
$fontRoboto: 'Roboto', Verdana, Geneva, Tahoma, sans-serif; 
$fontGreat: 'Great Vibes', cursive, Verdana, Geneva, Tahoma, sans-serif;
//colors
$headerColor: #fafafa;
$presentColor: rgb(254, 84, 146);
$presentColorGradient: linear-gradient(0deg,rgba(67, 237, 243, 0.548),rgba(9, 179, 247, 0.6));